@sj_overlay_grey: #464646;
@sj_overlay_grey_lite: #ebebeb;
@sj_overlay_grey_med: #989898;
@sj_overlay_grey_dark: #4b4b4a;

.sj_overlay(){
	background: #fff url('../img/loading.gif') no-repeat 50% 50%;

	display: none;
	position: fixed;

	width: auto;
	height: auto;

	.sj_close, .sj_refresh {
		text-align: right;
		z-index: 2000;

		button {
			background-color: @sj_overlay_grey_med;
			border: 3px solid @sj_overlay_grey_lite;
			.box-shadow(none);
			color: @sj_overlay_grey_lite;
			cursor: pointer;
			font-weight: 700;
			.gradient(@sj_overlay_grey_med, @sj_overlay_grey_med, @sj_overlay_grey_med);
			outline: none;
			margin: -20px -15px 0 0;
			padding: 3px 8px;

			min-width: 0;
			.rounded(500px);
			z-index: 5000;
		}
	}
	.sj_header {
		padding-bottom: 5px;

		h3 {
			color: lighten(@sj_overlay_grey, 18%);
			font-size: 30px;
			text-transform: none;
		}
	}
	.sj_body {}
	.sj_footer {
		padding: 22px 0 5px;

		a.button {
			padding: 5px 60px;
		}
		.action {
			text-align: center;

			button, a.button {
				margin: 0 5px;
				padding: 5px 10px;
				min-width: 0;
			}
		}
	}
}

#sj_overlay {
	border: 3px solid @sj_overlay_grey_lite;
	//.box-shadow(0 0 30px 0px #fff);
	padding: 25px;
	left: 50%;
	top: 0;
	z-index: 1001;
	.sj_overlay();
}

#sj_overlay_holder {
	overflow: hidden;

	padding: 0;
	margin: 0;

	left: 0;
	top: 0;

	z-index: 1000;

	.sj_overlay();
}

#sj_overlay_reference {
	display: none;
}

#sj_blackout {
	background-image: url('../img/overlay---bg.png');
	color: #fff;
	display: none;

	height: 100%;
	width: 100%;

	position: fixed;
	left: 0;
	top: 0;
	right: 0;

	z-index: 999;
}