@import "_style.less";

img {
	float: left;
	height: 40px;
	width: 50px;
	
	&.hide {
		display: none;
	}
}

div {

	&.group {
		margin: 0 0 20px;
	}
	&#backgrounds, &#sprite {

		div {
			background-repeat: no-repeat;
			float: left;
			width: 150px;
			height: 150px;
		}
	}
	&#sprite {

		div {
			background-image: url('https://raw.github.com/MikeGarde/smarter-js/master/dev/img/random/sprite.png');
		}
	}
	&#css {

		div {
			float: left;
			height: 40px;
			width: 50px;
		}

		.img3-1 { background-image: url('http://farm6.staticflickr.com/5446/8884169561_36e92d9c06_o.jpg'); }
		.img3-2 { background-image: url('http://farm4.staticflickr.com/3051/2936481448_2f6fa3953e_b.jpg'); }
		.img3-3 { background-image: url('http://farm4.staticflickr.com/3188/2880982738_367c523554_o.jpg'); }
		.img3-4 { background-image: url('http://farm6.staticflickr.com/5443/8867205383_4def4ad868_h.jpg'); }
		.img3-5 { background-image: url('http://farm8.staticflickr.com/7365/8869363221_40213510b2_h.jpg'); }
		.img3-6 { background-image: url('http://farm6.staticflickr.com/5333/8867563133_10eb9bad0b_k.jpg'); }
		.img3-7 { background-image: url('http://farm3.staticflickr.com/2880/8865781392_e3966fc783_b.jpg'); }
		.img3-8 { background-image: url('http://farm3.staticflickr.com/2868/8864723288_ec4d8070a7_b.jpg'); }
		.img3-9 { background-image: url('http://farm4.staticflickr.com/3701/8866295948_81d742969e_k.jpg'); }
		.img3-10 { background-image: url('http://farm8.staticflickr.com/7347/8864708749_eb07576a3a_k.jpg'); }
		.img3-11 { background-image: url('http://farm6.staticflickr.com/5461/8868324003_2bdfba2484_h.jpg'); }
		.img3-12 { background-image: url('http://farm4.staticflickr.com/3828/8865241396_c9b4cef0e9_k.jpg'); }
		.img3-13 { background-image: url('http://farm8.staticflickr.com/7408/8867918407_03c015fc71_b.jpg'); }
		.img3-14 { background-image: url('http://farm6.staticflickr.com/5343/8865994833_094961f423_k.jpg'); }
		.img3-15 { background-image: url('http://farm8.staticflickr.com/7418/8864953054_a5f440d82a_b.jpg'); }
		.img3-16 { background-image: url('http://farm4.staticflickr.com/3733/8866968085_860c6f03da_h.jpg'); }
		.img3-17 { background-image: url('http://farm9.staticflickr.com/8418/8868014288_53ee4f9062_b.jpg'); }
		.img3-18 { background-image: url('http://farm8.staticflickr.com/7437/8864579484_803ad28b9e_k.jpg'); }
		.img3-19 { background-image: url('http://farm4.staticflickr.com/3704/8866892091_7b78d11303_k.jpg'); }
		.img3-20 { background-image: url('http://farm4.staticflickr.com/3752/8864576528_b459b43fca_h.jpg'); }
		.img3-21 { background-image: url('http://farm9.staticflickr.com/8129/8865703040_e649131d77_b.jpg'); }
		.img3-22 { background-image: url('http://farm8.staticflickr.com/7288/8866369433_361932ab38_k.jpg'); }
		.img3-23 { background-image: url('http://farm8.staticflickr.com/7355/8868478986_4b8ab6c46f_b.jpg'); }
		.img3-24 { background-image: url('http://farm8.staticflickr.com/7308/8869296513_59265c3750_b.jpg'); }
		.img3-25 { background-image: url('http://farm8.staticflickr.com/7349/8865628050_59719822ac_b.jpg'); }
		.img3-26 { background-image: url('http://farm9.staticflickr.com/8263/8864797606_1a670932bc_k.jpg'); }
		.img3-27 { background-image: url('http://farm6.staticflickr.com/5321/8865223270_30c97b73d6_b.jpg'); }
		.img3-28 { background-image: url('http://farm8.staticflickr.com/7313/8869265261_37446fe294_k.jpg'); }
		.img3-29 { background-image: url('http://farm6.staticflickr.com/5336/8866794463_dc627663ab_k.jpg'); }
		.img3-30 { background-image: url('http://farm9.staticflickr.com/8550/8869782152_31db08bc60_h.jpg'); }
		.img3-31 { background-image: url('http://farm4.staticflickr.com/3740/8865935653_5fe9000a84_k.jpg'); }
		.img3-32 { background-image: url('http://farm6.staticflickr.com/5443/8868551791_618abb2129_b.jpg'); }
		.img3-33 { background-image: url('http://farm4.staticflickr.com/3720/8865782256_96b1fb554e_k.jpg'); }
		.img3-34 { background-image: url('http://farm9.staticflickr.com/8278/8865265441_3c4e76a505_k.jpg'); }
		.img3-35 { background-image: url('http://farm6.staticflickr.com/5448/8867379177_922545b4a5_b.jpg'); }
		.img3-36 { background-image: url('http://farm9.staticflickr.com/8256/8869496476_e4961a7c5f_k.jpg'); }
		.img3-37 { background-image: url('http://farm9.staticflickr.com/8275/8866515989_20d68c3a8f_b.jpg'); }
		.img3-38 { background-image: url('http://farm6.staticflickr.com/5466/8865683941_60f9f97061_b.jpg'); }
		.img3-39 { background-image: url('http://farm4.staticflickr.com/3825/8869444675_d6c070ccca_b.jpg'); }
		.img3-40 { background-image: url('http://farm9.staticflickr.com/8140/8865154371_97e7a117e3_b.jpg'); }
		.img3-41 { background-image: url('http://farm8.staticflickr.com/7409/8864645000_f769363f5b_b.jpg'); }
		.img3-42 { background-image: url('http://farm8.staticflickr.com/7390/8868877574_81ed3d3eb2_k.jpg'); }
		.img3-43 { background-image: url('http://farm6.staticflickr.com/5323/8866826955_193c440b8c_h.jpg'); }
		.img3-44 { background-image: url('http://farm8.staticflickr.com/7334/8866400929_d4daf7d8c3_k.jpg'); }
		.img3-45 { background-image: url('http://farm9.staticflickr.com/8128/8868131495_16d066bc9b_b.jpg'); }
	}
}

h2 {
	clear: both;
}

.calculate {
	display: none;
}

#performance {

	div {
		display: table;
		background-color: #c1eaf6;
		border: 2px solid #46a3d9;
		float: left;
		font-size: 12px;
		height: 55px;
		margin: 2px;
		padding: 6px;
		text-align: center;

		&.sub {
			
		}
		span {
			display: table-cell;
			vertical-align: middle;
			line-height: normal;

			abbr {
				color: #ac2222;
				display: block;
			}
		}
	}
}
#log {
	border: 1px solid #f4bfbf;
	clear: both;
	font-size: 14px;
	margin: 10px;
	padding: 10px;
}